.wrapper {
    position: absolute;
    /* border: 5px solid black; */
    width: 600px;
    height: 500px;
    /* transform: translate(-50%, -50%); */
    /* background: url('background.png'); */
}

#controller {
    width: 100%;
    height: 50%;
    top: 50%;
    transform: translate(0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
button{
    background-color: lightgray;
    touch-action: manipulation;
}
#horizontal_controls {
    display: flex;
    justify-content: space-between;
}

#game {
    display: flex;
    flex-direction: column;
    align-content: center;
}
html{
    height: 100%;
}
body {
    min-height: 100%;
    width: auto;
    background-color: rgb(150, 219, 231);
    margin: 0%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* Rules for sizing the icon. */
.material-icons.md-48 {
    font-size: 60px;
}

@media only screen and (max-width: 622px) {

    body {
        height: 50%;
        width: 100%;
        justify-items: center;
    }

    #controller {
        width: 100%;
    }

    .wrapper {
        height: 50%;
        width: 100%;
    }

    buttons {
        size: 100%;
    }
    
}
@media only screen and (max-height: 1000px) {
    body {
        height: 50%;
        width: 100%;
        justify-items: center;
    }

    #controller {
        width: 100%;
    }

    .wrapper {
        height: 50%;
        width: 100%;
    }

    buttons {
        size: 100%;
    }
}